<link rel="stylesheet" href="/stylesheets/searchbar.css">

<form autocomplete="off" method="POST" action="/allTitles" class="d-flex ">
  <div class="autocomplete">
    <input id="myInput" class="form-control me-2" type="text" name="campTitle" placeholder="Search Stocks">
  </div>
  <button class="btn btn-outline-success" type="submit">Search</button>
</form>


<script src="/javascripts/searchbar.js"></script>